(
    name: "Brower bookmarks",
    description: "Syntax: { b: } <command>\nExample: b: youtube",
    query: (
        regex: "^(b: )+",
        help: "b: ",
        isolate: true,
        no_sort: true,
    ),
    bin: (path: "browser-bookmarks"),
    icon: Name("com.system76.pop-launcher-open-in-new"),
)
