[package]
name = "pop-launcher-bin"
version = "1.0.3"
edition = "2018"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pop-launcher-plugins = { path = "../plugins" }
pop-launcher-service = { path = "../service" }
smol = "1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
