(
    name: "Terminal Commands",
    description: "Run commands in a terminal: run {cmd}",
    query: (
        regex: "^(:|t:|run ).*",
        help: "run ",
        isolate: true,
    ),
    bin: (path: "terminal"),
    icon: Name("utilities-terminal"),
)