(
    name: "Terminal or background commands",
    description: "Syntax: { run | t: | : } <command>\nExample: run sudo apt update",
    query: (
        regex: "^(:|t:|run ).*",
        help: "run ",
        isolate: true,
    ),
    bin: (path: "terminal"),
    icon: Name("utilities-terminal"),
    history: true,
)
