(
    name: "Recently-opened document search",
    description: "Syntax: recent <filename>\nExample: recent my-document.odt",
    query: (
        regex: "^(recent)\\s.*",
        help: "recent ",
        isolate: true
    ),
    bin: (path: "recent"),
    icon: Name("system-file-manager")
)
