(
    name: "Recent Documents",
    description: "Show recently-opened files: recent {file}",
    query: (
        regex: "^(recent)\\s.*",
        help: "recent ",
        isolate: true
    ),
    bin: (path: "recent"),
    icon: Name("system-file-manager")
)