[Plugin]
Name=Recently-opened document search
Description=Syntax: recent <filename>\nExample: recent my-document.odt
Exec=recent
Regex=^(recent)\\s.*
GenericQuery=recent\s
Icon=system-file-manager
Isolate=true