[Plugin]
Name=File search
Name[fr]=Recherche de fichier
Description=Syntax: find <filename>\nExample: find my-document.odt
Exec=find
Icon=system-file-manager
Regex=^(find )+
GenericQuery=find\s
Isolate=true