(
    name: "File search",
    description: "Syntax: find <filename>\nExample: find my-document.odt",
    query: (
        regex: "^(find )+",
        help: "find ",
        isolate: true,
    ),
    bin: (path: "find"),
    icon: Name("system-file-manager"),
)
