[package]
name = "pop-launcher-service"
version= "1.0.2"
license = "GPL-3.0-only"
edition = "2018"

[dependencies]
anyhow = "1"
async-io = "1"
async-oneshot = "0.5"
async-trait = "0.1"
futures = "0.3"
futures_codec = "0.4"
futures-lite = "1"
gen-z = "0.1"
num_cpus = "1"
pop-launcher = { path = "../" }
postage = { version = "0.4", features = ["futures-traits"] }
regex = "1.5"
ron = "0.7"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "1"
slab = "0.4"
smol = "1"
strsim = "0.10"
toml = "0.5"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt"] }
futures-core = "0.3.16"
