(
    name: "File navigation with tab autocomplete",
    description: "Syntax: { / | ~/ }\nExample: ~/Documents",
    query: (
        regex: "^(/|~).*",
        help: "~/",
        isolate: true,
        no_sort: true,
    ),
    bin: (path: "files"),
    icon: Name("system-file-manager"),
)
