(
    name: "File Navigation",
    description: "Navigate with tab autocomplete: ~/ OR /",
    query: (
        regex: "^(/|~).*",
        help: "~/",
        isolate: true,
        no_sort: true,
    ),
    bin: (path: "files"),
    icon: Name("system-file-manager")
)