#!/usr/bin/make -f

export VENDOR ?= 1
CLEAN ?= 1
DESTDIR=debian/tmp

%:
	dh $@ --with=systemd

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	ischroot && make clean || make distclean
endif
ifeq ($(VENDOR),1)
	ischroot || make vendor
endif

override_dh_auto_build:
	CARGO_HOME="$$(pwd)/target/cargo" make DESTDIR=$(DESTDIR)

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/pop-launcher/usr/lib/pop-launcher/scripts/**/*.sh